<app-navbar></app-navbar>
<div class="container main-container">

  <div class="row">
    <!--
    <div class="col-md-4">

    </div>
  -->
    <div class="col-md-12">
      <agm-map [latitude]="lat"
               [longitude]="lng"
               [zoom]="zoom"
               (mapClick)="clickMapa( $event )">
        <agm-marker *ngFor="let marcador of _ms.marcadores"
                    [latitude]="marcador.lat"
                    [longitude]="marcador.lng"
                    [title]="marcador.titulo"
                    [markerDraggable]="marcador.draggable">
          <agm-info-window>
            <strong>{{marcador.titulo}}</strong>
            <p *ngIf="marcador.desc">
              {{marcador.desc}}
            </p>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>

  </div>
</div>
